
.cont {
  width: 100%;
  min-width: 100px;
}
#but {
  color: #131313;
  background-color: #f5bb33;
  border-color: #f9dd55;
  width: 80px;
}

#head {
  color: #3c7dc2;
  font-size: 20pt;
  font-weight: 500;
  text-shadow: 5px 3px 5px #474747;
  text-align: center;
  max-width: 100%;
}
h4 {
  font-weight: 200;
  color: #131313;
}

li {
  position: relative;
  line-height: 20px;
  color: #f5bb33;
  font-weight: 400;
  margin-right: 1em;
}

#display {
  background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(71,71,71,1) 0%, rgba(71,71,71,0.6) 1%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(1%, rgba(71,71,71,0.6)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(71,71,71,1) 0%, rgba(71,71,71,0.6) 1%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(71,71,71,1) 0%, rgba(71,71,71,0.6) 1%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(71,71,71,1) 0%, rgba(71,71,71,0.6) 1%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(71,71,71,1) 0%, rgba(71,71,71,0.6) 1%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#474747', GradientType=1 );
    border-radius: 1px;
    border-style: solid;
    border-color: #474747;
    margin-top: 40px;
    -webkit-columns: 100px; /* Chrome, Safari, Opera */
    -moz-columns: 100px; /* Firefox */
    columns: 100px;
    top:30%;
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display:none;


}
#span{
  width:100%;
}

#form {
  width: 100%;
  z-index: 10;
  margin-left: 4em;
  position: relative;
  top: 1em;
}
.image {
  background-image: background: rgba(106,128,150,1), url('../img/pingpong.jpg') no-repeat;
background: -moz-linear-gradient(left, rgba(106,128,150,1) 0%, rgba(106,128,150,0.37) 52%, rgba(43,47,51,0.17) 69%, rgba(43,47,51,0.05) 79%), url('../img/pingpong.jpg') no-repeat;
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(106,128,150,1)), color-stop(52%, rgba(106,128,150,0.37)), color-stop(69%, rgba(43,47,51,0.17)), color-stop(79%, rgba(43,47,51,0.05))) url('../img/pingpong.jpg')no-repeat;
background: -webkit-linear-gradient(left, rgba(106,128,150,1) 0%, rgba(106,128,150,0.37) 52%, rgba(43,47,51,0.17) 69%, rgba(43,47,51,0.05) 79%), url('../img/pingpong.jpg')no-repeat;
background: -o-linear-gradient(left, rgba(106,128,150,1) 0%, rgba(106,128,150,0.37) 52%, rgba(43,47,51,0.17) 69%, rgba(43,47,51,0.05) 79%), url('../img/pingpong.jpg')no-repeat;
background: -ms-linear-gradient(left, rgba(106,128,150,1) 0%, rgba(106,128,150,0.37) 52%, rgba(43,47,51,0.17) 69%, rgba(43,47,51,0.05) 79%), url('../img/pingpong.jpg')no-repeat;
background: linear-gradient(to right, rgba(106,128,150,1) 0%, rgba(106,128,150,0.37) 52%, rgba(43,47,51,0.17) 69%, rgba(43,47,51,0.05) 79%), url('../img/pingpong.jpg')no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a8096', endColorstr='#2b2f33', GradientType=1 ), url('../img/pingpong.jpg')no-repeat;
  z-index: -10;
  background-position: top;
  background-size: cover;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  background-repeat: repeat;
}

/*orange == f5bb33*/
/*blue == 3c7dc2*/
